.tdClass
{
    padding-left:10px;
    padding-right:10px;
    text-align: center;
}
.trBackground
{
   border-bottom:1px solid black; 
}
.divHeading
{
    text-align: center;
}
.tdAlign
{
     padding-left:10px;
}